# 1. Split this string

In [1]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

# 2. Use .format() to print the following string.

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

# 3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [8]:
import numpy as np

v# 4.1 Create an array of 10 zeros

# 4.2 Create an array of 10 fives?

In [9]:
np.zeros(10,dtype="int")

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [10]:
np.ones(10,dtype="int")*5

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

# 5. Create an array of all the even integers from 20 to 35

In [17]:
np.arange(60,89,4)

array([60, 64, 68, 72, 76, 80, 84, 88])

# 6. Create a 3x3 matrix with values ranging from 0 to 8

In [13]:
np.arange(0, 9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

# 7. Concatinate a and b

In [14]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# 8. Create a dataframe with 3 rows and 2 columns

In [16]:
import pandas as pd
np.random.randint(10, size=(3,2))

array([[8, 9],
       [1, 6],
       [2, 6]])

# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [19]:
import pandas as pd

mydate = pd.date_range(start='1/1/2023', end='2/10/2023')

for i in mydate:
    print(i.date())

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10

# 10. Create 2D list to DataFrame

In [20]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
print(pd.DataFrame(lists))

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24